.panelJuegos{
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #2d2a2a;
  border-radius: 4px;
  background-color: rgba(211, 204, 204, 0.75);
  padding: 10px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.botonEliminar{
  border: none;
  background-color: transparent;
  color: #d31919;
}

.puntos{
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  background-color: rgba(126, 231, 167, 0.91);
  border-radius: 4px;
  padding: 5px;
}
.listJuego{
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #2d2a2a;
  border-radius: 4px;
  background-color: #b9b5b5;
  padding: 10px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

