.thumbnail {
  padding:5%;
  margin: 1%;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  list-style: none;
}

.thumbnail caption {
  display: flex;
  grid-gap: 2%;
  flex-wrap: wrap;
  width: 20%;
}

.madal-disenio {
  width: 100%;
  height: 100%;
  background-color: rgb(43 205 211 / 41%);

}

.modal-disenio ul {
  display: flex;
  grid-gap: 2%;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background-color: rgb(43 205 211 / 41%);

}

ul {
  padding-inline-start: 0;
}

.madal-disenio ul li {
  padding: 1%;
  margin: 1%;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  list-style: none;
}
