
<!--historial de participante en angular-->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Historial de participante</h3>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>#</th>
          <th>Ganadores</th>
          <th>Juegos</th>
          <th>Regalos</th>
          <th>puntos</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let ganador of ganadores">
          <td>{{ganadores.indexOf(ganador) + 1}}</td>
          <td>{{ganador.nombre}}</td>
          <td>{{ganador.juego}}</td>
          <td>{{ganador.regalo}}</td>
          <td>{{ganador.puntaje}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

