
<!--agregar juegos angular-->
<div class="container-fluid row">
  <div class="col-sm-12 col-lg-6">
    <div class="row">
      <div class="col-sm-9">
        <label class="m-1" for="juego"><b>Nombre del Regalo</b> </label>
        <br>
        <input class="m-1 form-control" id="juego" type="text" [(ngModel)]="nombreRegalo" (keydown.enter)="agregarRegalos()" placeholder="agregar nombre del regalo">
      </div>
      <div class="col-sm-3 botonAnadir">
        <button class="btn btn-info" (click)="agregarRegalos()">+ Añadir</button>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-lg-6 panelRegalos">
    <ol class="regalos">
      <li *ngFor="let regalo of regalos">
        {{regalo.nombre}}
        <button class="botonEliminar" (click)="eliminarRegalo(regalo)"><b>X</b></button>
      </li>
    </ol>

  </div>
</div>
