<div class="grupos">
  <h2>Grupos</h2>
  <button class="btn btn-success" (click)="generarGrupos()">Crear grupo</button>
  <label class="m-5" for="cantidad">Cantidad de grupos</label>
  <input type="number" id="cantidad" name="cantidad" [(ngModel)]="cantidad">
  <div class="grupoDiv">
    <ul>
      <li class="grupolist" *ngFor="let grupo of gruposGenerados">
        <h3>{{grupo.nombre}}</h3>
        <ol>
          <li *ngFor="let integrante of grupo.participantes">
            {{integrante.nombre}}
          </li>
        </ol>
        <p>puntaje {{grupo.puntaje}}</p>
        <div class="text-center">
          <button class="btn btn-danger mt-2" (click)="ganar(grupo.nombre)">Gana</button>
        </div>
      </li>
    </ul>
  </div>

</div>
