.grupolist {
  padding:1%;
  margin: 1%;
  width-min: 300px;
  width-max: 500px;
  width: 15%;

  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  list-style: none;
}

.grupoDiv ul {
  display: flex;
  grid-gap: 2%;
  flex-wrap: wrap;
}
