<div class="container p-2 mt-4 fondo">
  <div class="row">
      <h1>Juegos navideños</h1>
      <div class="col-12">
     <app-participantes> </app-participantes>
      </div>
    <div class="col-12">
      <app-juegos></app-juegos>
    </div>
    <div class="col-12">
      <app-regalos> </app-regalos>
      </div>
    <div class="row mt-5">
      <div class="col-12">
        <button class="btn btn-info" (click)="seleccionarVista('grupo')">Grupo</button>
        <button class="btn btn-success" (click)="seleccionarVista('individual')">Individual</button>
      </div>

      <div class="col-12">
        <div *ngIf="vistaSeleccionada === 'grupo'">
          <app-grupos></app-grupos>
          <div class = "col-12">
            <app-resultados></app-resultados>
          </div>
        </div>

        <div *ngIf="vistaSeleccionada === 'individual'">
          <app-individual></app-individual>
        </div>
      </div>
    </div>

    </div>

  <div class="row mt-5">
    <div class="col-12">
      <button class="btn btn-danger" (click)="terminarJuego()">Terminar juego</button>
    </div>
  </div>

</div>







